# -*- mode: gitignore; -*-
__pycache__/
*.py[cod]
*$py.class
build/*
*.o

## package files
attic*
python_edf.egg-info*
edflib/_edflib.so
.ipynb_*
.idea*
dist/*
edflib.egg-info*
TAGS
.cache*
*.so

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


## vscode
.vscode/*

## mercurial
.hg*